/****************************
** COMPONENTS BASIC COLORS **
****************************/

// Default colors
$gc-text-color: #333;
$gc-bg-color: #f5f5f5;
$gc-border-color: #d8d8d8;

// Social media colors
$facebook: rgb(83, 124, 190);
$twitter: rgb(119, 205, 240);
$instagram: rgb(105, 105, 107);
$youtube: rgb(233, 101, 76);
$google-plus: rgb(76, 76, 76);
$snapchat: rgb(252, 196, 51);