/**************
** UTILITIES **
**************/

.section-margins {
    width: $full;
    margin: 0 auto 1rem;

    @media #{$medium-up} {
        width: 90%;
    }
}

.plain {
    list-style-type: none;
}

.break {
    display: block;
}

.show {
    display:block;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.mobile-menu__visible {
    visibility: visible;
    opacity: 1;
    top: 0;
}

.arrow-right:after {
    content: ">";
    color: #fff;
    display: $in-block;
    font-size: 110%;
}

.rotate:before {
    transform: rotate(45deg);
}

.light {
    font-weight: $light;
}

.regular {
    font-weight: $regular;
}

.bold {
    font-weight: $bold;
}

.xtra-bold {
    font-weight: $xtra-bold;
}

.italic {
    font-style: $italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.smaller-text {
    font-size: 80%;
}

.bigger-text {
    font-size: 110%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 1rem 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
    }
}

.indent-left {
    margin-left: 3rem;
}

.margin-top {
    padding-top: 1rem;
}

.no-margin-left {
    margin-left: 0;
}

.no-padding {
    padding: 0;
}